@page "/product-report"


@using Microsoft.AspNetCore.Mvc.Rendering
@using Telerik.ReportViewer.Blazor

<ReportViewer 
    ReportSource="@(new ReportSourceOptions() 
                                { Report = "ProductInformation.trdp", 
                                    Parameters = new Dictionary<string, object>() { 
                                        {"ApiUrl", "http://localhost:5146/api/Product/products"},
                                        {"ProductId", "10"}
                                }
                                })"

              Scale="1.0"/>


              <div>
                  Hello World
              </div>